%h1 Artist Faves
%hr
.row
  .span12
    %table.table.table-bordered.table-striped.table-hover
      %tr
        %th #
        %th Artist Name
      - @artists.each_with_index do |artist, idx|
        %tr
          %td
            = idx+1
          %td
            = artist.name

